<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">BookMyShow</a>
  </div>

  <ul class="navbar-menu">
    <li *ngIf="isLoggedIn"><a routerLink="/movies">Movies</a></li>
     <li *ngIf="isLoggedIn"><a routerLink="/booking">Booking</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/payment">Payment</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
    <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>