<div class="seat-selection-container">
  <h2>Select Your Seats</h2>
  @if (message) {
    <div  class="error">{{ message }}</div>
  }  
  <div class="seats-grid">
     @for (seat of seats; track seat.seatId) {
      <div
        class="seat"
        [class.booked]="!seat.available"
        [class.selected]="selectedSeats.includes(seat.seatNumber)"
        (click)="seat.available && toggleSeat(seat.seatNumber)">
          {{ seat.seatNumber }}
      </div>
     }    
  </div>
  <button (click)="confirmSeats()">Confirm Seats</button>
</div>